.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
  color: #666;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: #fff;
  height: min-content;
}

.status {
  margin-bottom: 20px;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
}

.applied {
  background: #3498db;
}

.interview {
  background: #f1c40f;
}

.offer {
  background: #2ecc71;
}

.rejected {
  background: #e74c3c;
}

.location {
  margin-bottom: 20px;
  color: #666;
}

.description {
  margin-bottom: 20px;
  color: #666;
}

.description p {
  line-height: 1.6;
}

.adminButtons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.edit {
  background-color: #111;
}


.delete {
  background-color: #e74c3c;
}